#SettingsOuterDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#SettingsFormOuterDiv {
    width: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 25px;
}

#FormButton {
    margin-top: 10px;
}