#SettingsOuterDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3%;
  padding: 2%;
  border-radius: 40px;
}

#SettingsFormOuterDiv {
  width: 70%;
  background-color: rgb(244, 243, 243);
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 25px;
}

#ResetPasswordButton {
  border-radius: 10px;
  width: 100%;
}

#FormButton {
  width: 50%;
  margin-top: 15px;
}

#ResetPasswordDiv {
  margin-top: 50px;
  border-radius: 30px;
  background-color: rgb(244, 243, 243);
  width: 70%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 25px;
}

.AccountText {
  background-color: rgb(244, 243, 243);
}