@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

#OuterWelcomePageDiv {
  position: absolute;
  height: 100vh;
  background: linear-gradient(
    180.5deg,
    rgb(0, 128, 128) 8.5%,
    rgb(174, 206, 100) 118.2%
  );
  display: flex;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#InnerWelcomePageDiv {
  background-color: white;
  border-radius: 20px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  margin: 6%;
}

#WelcomePageTextDiv {
  margin: 5%;
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#PigDiv {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Pig {
  height: 90%;
}

#WelcomePageWelcomeText {
  font-family: "Montserrat", sans-serif;
  color: #4f5b4f;
  font-size: 3em;
  flex: 3;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

#WelcomeText {
  font-size: 6rem;
}

#WelcomePageTitle {
  font-family: "Montserrat", sans-serif;
  flex: 1;
  width: 100%;
  font-size: 2.5rem;
}

#WelcomePageText {
  flex: 4;
  display: flex;
  align-items: center;
}

#LoginButtonDiv {
  flex: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

#LoginButton {
  background-color: gold;
  padding: 8px 45px 8px 45px;
  border-radius: 25px;
  border-style: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color:#1d1f1d;
}

#LoginButton:hover {
  background-color: rgb(255, 232, 103);
}

#LoginButton:active {
  background-color: rgb(221, 191, 19);
}
